{% load static %}

{# jQuery #}
<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
{# Bootstrap #}
<script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{# BOOTBOX: alert modals plugin #}
<script src="{% static 'components/bootbox/bootbox.js' %}"></script>
