{% load custom_tags %}
<meta name="description" content="HTML Metatag description"/>
<meta name="author" content="HTML Metatag author"/>
<meta name="keywords" content="HTML, Metatag, keywords.">
<meta property="og:type" content="website">
<meta property="og:title" content="metatag fb og:title">
<meta property="og:description" content="metatag fb og:description." itemprop="description">
<meta property="og:url" content="{% domain_url %}" itemprop="url">
<meta property="og:image" content="https://graph.facebook.com/facebook/picture?type=large" itemprop="image">
<meta property="og:site_name" content="metatag fb og:site_name" itemprop="name">
<link rel="canonical" href="{% domain_url %}" />