<div class="form-group {% if form_field.errors %}has-error{% endif %}">
<label class="sr-only">{{ label }}</label>
    {{ form_field }}
    {% if form_field.errors %}<p class="help-block">{{ form_field.errors.as_text }}</p>{% endif %}
</div>
