{% extends "base_public_private_reserved.html" %}
{% load custom_tags %}

{% block breadcrumbsection %}
    <li>
        <a href="{% url 'example_models' %}">
            Example Models
        </a>
    </li>
{% endblock breadcrumbsection %}
{% block breadcrumbpage %}
    <li>
        {{ example_model.name }}
    </li>
{% endblock breadcrumbpage %}

{% block contentheadertitle %}
    {{ example_model.name }}
{% endblock contentheadertitle %}

{% block contentheaderdescription %}
    Recap of all "{{ example_model.name }}" example_model information.
{% endblock contentheaderdescription %}


{% block content %}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="box">
                <div class="box-title"></div>
                <div class="box-body bg">

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Name</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.name }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Slug</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.slug }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Logo</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <img src="{% url_https example_model.logo 150 True %}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Description</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.description }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Is public</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.is_public }}
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}