{% extends "base_public_private_reserved.html" %}
{% load bootstrap_form_tags %}

{% block pagecontent %}
    <h1>Create New Example</h1>
    <h3>Basic form</h3>
    <form class="form" role="form" action="{% url 'example_model_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% basic_form_input example_model_form.name "Name" %}
        {% basic_form_input example_model_form.logo "Logo" %}
        {% basic_form_input example_model_form.is_public "Is Public?" %}
        {% basic_form_submit "Save" "default" %}
    </form>
    <br>
    <h3>Horizontal Form</h3>
    <form class="form-horizontal" role="form" action="{% url 'example_model_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% horizontal_form_input example_model_form.name "Name" %}
        {% horizontal_form_input example_model_form.logo "Logo" %}
        {% horizontal_form_input example_model_form.description "Description" %}
        {% horizontal_form_input example_model_form.is_public "Is Public?" %}
        {% horizontal_form_submit "Save" "default" %}
    </form>
    <br>
    <h3>Inline form</h3>
    <form class="form-inline" role="form" action="{% url 'example_model_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% inline_form_input example_model_form.name "Name" %}
        {% inline_form_input example_model_form.logo "Logo" %}
        {% inline_form_input example_model_form.is_public "Is Public?" %}
        {% inline_form_submit "Save" "default" %}
    </form>

{% endblock pagecontent %}
