{% extends "base_public_private_reserved.html" %}
{% load static %}

{% block extrastyle %}
    {{ example_model_form.media }}
{% endblock extrastyle %}

{% block breadcrumbsection %}
    <li>
        <a href="{% url 'example_models' %}">
            Example Models
        </a>
    </li>
{% endblock breadcrumbsection %}
{% block breadcrumbpage %}
	<li>
	    {{ example_model.name }} 
	</li>
{% endblock breadcrumbpage %}

{% block contentheadertitle %}
    Edit "{{ example_model.name }}"
{% endblock contentheadertitle %}

{% block contentheaderdescription %}
    Edit example_model "{{ example_model.name }}" information.
{% endblock contentheaderdescription %}

{% block content %}

	<div class="row">
	    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
	        <div class="box">
	            <div class="box-title"></div>
	            <div class="box-body bg">                       
	                <form class="form-horizontal" role="form" action="{% url 'example_model_edit' example_model.slug %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}

                        {% if example_model_form.errors %}
                            {{ example_model_form.errors.as_text }}
                        {% endif %}
						{{ example_model_form.as_p }}

						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-9">
								<button type="submit" class="btn btn-default">Save</button>
							</div>
						</div>
					 </form>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock content %}



