{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Page not found{% endblock title %}

{# HEAD #}
{% block style %}

    <style type="text/css">
        .hero-unit {
            padding: 60px;
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 200;
            line-height: 30px;
            color: inherit;
            background-color: #eeeeee;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        .hero-unit h1 {
            margin-bottom: 0;
            font-size: 60px;
            line-height: 1;
            color: inherit;
            letter-spacing: -1px;
        }

        .center {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }
    </style>

    {# Bootstrap 3.1.1 #}
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock style %}

{% block bodycontent %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-unit center">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div class="error-details">
                        The page you requested could not be found.
                    </div>
                    <div class="error-actions">
                        <a href="{% url 'public_home' %}" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home
                        </a>
                        <a href="#" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Contact Support
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock bodycontent %}

{% block bodyjs %}
    {# jQuery 1.11.0 #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {# Bootstrap 3.1.1 #}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock bodyjs %}
