<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <style type="text/css">
        @media only screen and (max-width: 480px) {
            /* Client-specific mobile styles */
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            /* Prevent Webkit platforms from changing default text sizes */
            body {
                width: 100% !important;
                min-width: 100% !important;
            }

            /* Prevent iOS Mail from adding padding to the body */
            /* Mobile reset styles */
            #bodyCell {
                padding: 10px !important;
            }

            #templateContainer {
                max-width: 600px !important;
                width: 100% !important;
            }

            h1 {
                font-size: 24px !important;
                line-height: 100% !important;
            }

            h2 {
                font-size: 20px !important;
                line-height: 100% !important;
            }

            h3 {
                font-size: 18px !important;
                line-height: 100% !important;
            }

            h4 {
                font-size: 16px !important;
                line-height: 100% !important;
            }

            /* ======== Header Styles ======== */
            #templatePreheader {
                display: none !important;
            }

            /* Hide the template preheader to save space */
            #headerImage {
                height: auto !important;
                max-width: 600px !important;
                width: 100% !important;
            }

            .headerContent {
                font-size: 20px !important;
                line-height: 125% !important;
            }

            /* ======== Body Styles ======== */
            .bodyContent {
                font-size: 18px !important;
                line-height: 125% !important;
            }

            /* ======== Column Styles ======== */
            .templateColumnContainer {
                display: block !important;
                width: 100% !important;
            }

            .columnImage {
                height: auto !important;
                max-width: 480px !important;
                width: 100% !important;
            }

            .leftColumnContent {
                font-size: 16px !important;
                line-height: 125% !important;
            }

            .centerColumnContent {
                font-size: 16px !important;
                line-height: 125% !important;
            }

            .rightColumnContent {
                font-size: 16px !important;
                line-height: 125% !important;
            }

            .footerContent {
                font-size: 14px !important;
                line-height: 115% !important;
            }

            .footerContent a {
                display: block !important;
            }
        }
    </style>
</head>

<body style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #DEE0E2;font-family: 'Open Sans', Arial, sans-serif; height: 100% !important;width: 100% !important;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;background-color: #DEE0E2;border-collapse: collapse !important;height: 100% !important;width: 100% !important;">
        <tr>
            <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;border-top: 4px solid #BBBBBB;height: 100% !important;width: 100% !important;">
                <!-- BEGIN TEMPLATE // -->
                <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 600px;border: 1px solid #BBBBBB;border-collapse: collapse !important;">
                    <tr>
                        <td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                            <!-- BEGIN BODY // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #F4F4F4;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #CCCCCC;border-collapse: collapse !important;">
                                <tr>
                                    <td valign="top" class="bodyContent" style="padding: 40px;font-size: 14px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;">

                                        {% block main_content %}{% endblock main_content %}

                                    </td>
                                </tr>
                            </table>
                            <!-- // END BODY -->
                        </td>
                    </tr>

                </table>
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>

</body>
</html>
