{% extends "base.html" %}
{% load staticfiles %}

{# HEAD #}
{% block style %}
    <link href="{% static 'public/css/offcanvas.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/base_public_private_reserved.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock extrastyle %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock style %}

{# BODY #}
{% block bodycontent %}
    {% block header %}
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Diango SQL BaseApp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'password_change' %}">Change passwd</a></li>
                        <li><a href="{% url 'password_reset' %}">Reset passwd</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="#">{{ request.user.username }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}

    <div class="container">

        {% block content %}
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>

                    {% block pagecontent %}{% endblock pagecontent %}
                </div>

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    {% block sidebar %}
                        <div class="list-group">
                            <a href="{% url 'public_home' %}" class="list-group-item">Public</a>
                            <a href="{% url 'private_home' %}" class="list-group-item active">Private</a>
                            <a href="{% url 'reserved_home' %}" class="list-group-item">Reserved</a>
                        </div>
                        <br/>
                        <div class="list-group">
                            <a href="{% url 'example_models' %}" class="list-group-item">Example Models</a>
                        </div>
                        <br/>
                        <div class="list-group">
                            <a href="{% url 'set_language' %}?language=it&next={{ request.path_info }}" class="list-group-item">Italian</a>
                            <a href="{% url 'set_language' %}?language=en&next={{ request.path_info }}" class="list-group-item">English</a>
                        </div>
                    {% endblock sidebar %}
                </div>
            </div>

            <hr>
        {% endblock content %}

    </div>

{% block footer %}{% include "tags/footer.html" %}{% endblock footer %}

{% endblock bodycontent %}

{% block bodyjs %}
    {# Custom scripts #}
    <script src="{% static 'public/js/min/offcanvas.min.js' %}"></script>
    {% block extrabodyjs %}{% endblock extrabodyjs %}
{% endblock bodyjs %}
