<!DOCTYPE html>
{% block html_browser_conditionals %}{% include "tags/browser_conditionals.html" %}{% endblock html_browser_conditionals %}

  <head>

    {% block extraheadtop %}{% endblock extraheadtop %}
    {% block charsetutf %}<meta charset='utf-8'>{% endblock charsetutf %}
    {% block iecompatiblitymeta %}<meta http-equiv="X-UA-Compatible" content="IE=edge">{% endblock iecompatiblitymeta %}
    {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock viewport %}
    <title>{% block headtitle %}{% endblock headtitle %}</title>
    {% block seo %}{% include "tags/seo.html" %}{% endblock seo %}
    {% block blockbots %}{% endblock blockbots %}
    {% block favicon %}{% include "tags/favicon.html" %}{% endblock favicon %}
    {% block bowerstyle %}{% include "tags/bower_components_style.html" %}{% endblock bowerstyle %}
    {% block style %}{% endblock style %}
    {% block headjs %}{% endblock headjs %}
    {% block extraheadbottom %}{% endblock extraheadbottom %}

  </head>

  <body>

    {% block extrabodytop %}{% endblock extrabodytop %}
    {% block bodycontent %}{% endblock bodycontent %}
    {% block extrabodybottom %}{% endblock extrabodybottom %}
    {% block bowerscript %}{% include "tags/bower_components_scripts.html" %}{% endblock bowerscript %}
    {% block bodyjs %}{% endblock bodyjs %}
    {% block googleanalytics %}{% include "tags/googleanalytics.html" %}{% endblock googleanalytics %}

  </body>
</html>
