.bootbox-body {
    padding-top: 20px;
}


/*   sticky footer  */


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding: 0;
}

.footer .container {
    padding: 20px 15px;
}