{% extends 'base_auth.html' %}
{% load static %}


{% block title %}Log In{% endblock title %}

{% block content %}
    <div class="container">
        <form class="form-signin" role="form" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="POST">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group {% if state %}has-error{% endif %}">
                <input class="form-control login" type="text" id="username" name="username" placeholder="Username" required autofocus>
                <input class="form-control login" type="password" id="password" name="password" placeholder="Password" required>
                {% if state %}<p class="help-block">{{ state }}</p>{% endif %}
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br/>
            <p>Or login with your favorite social network</p>
            <a href="{% url 'login' %}facebook/" class="btn social-login"><i class="fa fa-4x fa-facebook"></i></a>
            <a href="{% url 'login' %}twitter/" class="btn social-login"><i class="fa fa-4x fa-twitter"></i></a>
            <a href="{% url 'login' %}linkedin/" class="btn social-login"><i class="fa fa-4x fa-linkedin"></i></a>
            <a href="{% url 'login' %}google/" class="btn social-login"><i class="fa fa-4x fa-google-plus"></i></a>
            <div class="login-helpers">
                Don't have an account with us?
                <a href="{% url 'signup' %}">Register now!</a>
                <br>
                Forgot Password?
                <a href="#">Click here</a>
            </div>
        </form>
    </div>
{% endblock content %}
