{% extends "base_auth.html" %}
{% load i18n %}


{% block title %}Logged Out{% endblock title %}

{% block content %}

    <div class="container">
        <div class="form-signin">
            <h1>{% trans "You logged out!" %}</h1>
            <a href="{% url 'public_home' %}" class="btn btn-danger">Go back to homepage</a>
        </div>

    </div>

{% endblock content %}
