{% extends "base_auth.html" %}


{% block title %}Change Password{% endblock title %}

{% block bodycontent %}

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box-plain">
                        <h2 class="bigintro">You've changed your password successfully.</h2>
                        <div class="divide-40"></div>
                        <div class="login-helpers center">
                            <a class="btn btn-lg btn-info" href="{% url 'private_home' %}">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock bodycontent %}
