{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock title %}

{% block bodycontent %}

    <h1>{% trans 'Password reset complete' %}</h1>

    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

    <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock bodycontent %}
