{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock title %}

{% block bodycontent %}

    <h1>{% trans 'Password reset successful' %}</h1>

    <p>{% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</p>

{% endblock bodycontent %}
