{% extends "base_auth.html" %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <div class="container">

        <form role="form" action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            <div class="form-group {% if form.errors.old_password %}has-error{% endif %}">
                <label for="exampleInputName">Current Password <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ form.old_password }}
                {% if form.errors.old_password %}<p class="help-block">{{ form.errors.old_password.as_text }}</p>{% endif %}
            </div>

            <div class="form-group {% if form.errors.new_password1 %}has-error{% endif %}">
                <label for="exampleInputName">Password <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ form.new_password1 }}
                {% if form.errors.new_password1 %}<p class="help-block">{{ form.errors.new_password1.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if form.errors.new_password2 %}has-error{% endif %}">
                <label for="exampleInputName">Password confirmation <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ form.new_password2 }}
                {% if form.errors.new_password2 %}<p class="help-block">{{ form.errors.new_password2.as_text }}</p>{% endif %}
            </div>
            <br>
            <div class="form-action">
                <button type="submit" class="btn btn-danger">Change Password</button>
            </div>
        </form>

    </div>

{% endblock content %}
