{% extends "base_auth.html" %}


{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" role="form" name="LoginForm" action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <h1>Create an account</h1>
            <div class="form-group {% if user_form.errors.username %}has-error{% endif %}">
                <label for="exampleInputName">Username <span class="text-danger">*</span></label>
                <i class="fa fa-user"></i>
                {{ user_form.username }}
                {% if user_form.errors.username %}<p class="help-block">{{ user_form.errors.username.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if user_form.errors.email %}has-error{% endif %}">
                <label for="exampleInputName">Email <span class="text-danger">*</span></label>
                <i class="fa fa-envelope-o"></i>
                {{ user_form.email }}
                {% if user_form.errors.email %}<p class="help-block">{{ user_form.errors.email.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if user_form.errors.password1 %}has-error{% endif %}">
                <label for="exampleInputName">Password <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ user_form.password1 }}
                {% if user_form.errors.password1 %}<p class="help-block">{{ user_form.errors.password1.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if user_form.errors.password2 %}has-error{% endif %}">
                <label for="exampleInputName">Password confirmation <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ user_form.password2 }}
                {% if user_form.errors.password2 %}<p class="help-block">{{ user_form.errors.password2.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if user_profile_form.errors.accepted_eula %}has-error{% endif %}">
                <label for="exampleInputName">Accepted EULA <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ user_profile_form.accepted_eula }}
                {% if user_profile_form.errors.accepted_eula %}<p class="help-block">{{ user_profile_form.errors.accepted_eula.as_text }}</p>{% endif %}
            </div>
            <div class="form-group {% if user_profile_form.errors.favorite_animal %}has-error{% endif %}">
                <label for="exampleInputName">Favorite Animal <span class="text-danger">*</span></label>
                <i class="fa fa-lock"></i>
                {{ user_profile_form.favorite_animal }}
                {% if user_profile_form.errors.favorite_animal %}<p class="help-block">{{ user_profile_form.errors.favorite_animal.as_text }}</p>{% endif %}
            </div>
            <div class="form-actions">
                <label class="checkbox">{{ user_profile_form.has_accepted_terms_and_conditions }} I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
                {% if user_profile_form.errors.has_accepted_terms_and_conditions %}
                    <p class="help-block" style="color: #b94a48;">
                        {{ user_profile_form.errors.has_accepted_terms_and_conditions.as_text }}
                    </p>
                {% endif %}
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock content %}


