{% extends "base_public_private_reserved.html" %}
{% load i18n %}

{% block pagecontent %}
    <div class="jumbotron">
        <h1>Reserved Home Page</h1>
        <br/>
        <p>{% trans "IX. I will start then in the manner approved by the author of the system himself, by settling what are the essence and qualities of the thing that is the object of our inquiry; not that I suppose you to be ignorant of it, but because this is the logical method of procedure. We are inquiring, then, what is the final and ultimate Good, which as all philosophers are agreed must be of such a nature as to be the End to which all other things are means, while it is not itself a means to anything else. This Epicurus finds in pleasure; pleasure he holds to be the Chief Good, pain the Chief Evil. This he sets out to prove as follows: Every animal, as soon as it is born, seeks for pleasure, and delights in it as the Chief Good, while it recoils from pain as the Chief Evil, and so far as possible avoids it. This it does as long as it remains unperverted, at the prompting of Nature's own unbiased and honest verdict." %}</p>
    </div>
{% endblock pagecontent %}