{% extends 'base_email.html' %}
{% load i18n %}

{% block main_content %}
    {% autoescape off %}

        <h3 style="display: block;font-size: 16px;line-height: 100%;font-weight: 400;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040 !important;">
            {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
        </h3>

        <h3 style="display: block;font-size: 16px;line-height: 100%;font-weight: 400;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040 !important;">
            {% trans "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
                <a href="{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}">{% trans "Click here" %}</a>
            {% endblock reset_link %}
        </h3>

        <h3 style="display: block;font-size: 16px;line-height: 100%;font-weight: 400;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040 !important;">
            {% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong>
        </h3>

        <br><br>

        <h3 style="display: block;font-size: 16px;line-height: 100%;font-weight: 400;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040 !important;">
            {% trans "Thanks for using our site!" %}
        </h3>

        <h3 style="display: block;font-size: 16px;line-height: 100%;font-weight: 400;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040 !important;">
            {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
        </h3>

    {% endautoescape %}
{% endblock main_content %}
